<!DOCTYPE html>
<html>
	<head>
		<title>Official Manchester United Website</title>
		<meta charset="UTF-8"/>
		<link type="text/css" rel="stylesheet" href="assets/stylecheets/mu_index.css"/>
		<link rel="icon" href="images/icon.png"/>
	</head>
	<body>
		<div class="header">
			<h1>Manchester United Football Club</h1>
			<p>Glory Glory Man Utd !!!</p>
		</div>
		<div class="content">
			<div class="content-left">
				<img src="http://www.manutd.com/sitecore/shell/~/media/1EEE6D23CBB844E983BA4ABDD82DDEC8.ashx?w=1280&h=720&rgn=0,587,5196,3510"/>
				<img src="http://www.manutd.com/sitecore/shell/~/media/739B8D88E1084F2AABBE3D6AC01A6275.ashx?w=1280&h=720&rgn=0,59,3000,1747"/>
				<img src="http://www.manutd.com/sitecore/shell/~/media/6FC04E7DD30C4ED4BB218736A353316A.ashx?w=1280&h=720&rgn=0,61,2292,1352"/>
				<img src="http://www.manutd.com/sitecore/shell/~/media/5B4E1A9406BD47CAB0503AE79B5875D4.ashx?w=1280&h=720&rgn=0,131,2076,1300"/>
				<p class="img1"> Van Gaal's verdict</p>
				<p class="img2"> West Ham 3 United 2</p>
				<p class="img3"> Carrick: We let it slip</p>
				<p class="img4"> Eric and Ryan</p>
			</div>
			<div class="content-right">
				<img src="http://img.saobiz.net/d/2015/09/l1-1400-1429331426_02.jpg"/>
			</div>
		</div>
		<div class="footer">
			<table>
				<thead>
					<th>FA Cup XI: Midfield scorers</th>
					<th>Cherries game picked for TV</th>
					<th>Discover your United history</th>
				</thead>
				<tbody>
					<tr>
						<td>
							To mark Manchester United reaching the 2016 FA Cup final, ManUtd.com is compiling a dream team made up of the Reds who have enjoyed the best individual performances in the showpiece game over the years.
						</td>
						<td>
							RIt has been confirmed that Manchester United’s final Barclays Premier League match of the season against Bournemouth on Sunday will be broadcast live on Sky Sports.
						</td>
						<td>
							Enter your birthdate to see the RED's achivements in your lifetime.
						</td>
		
					</tr>
					<tr>
						<td>
							<a href="#">Fans can vote Twitter
							</a>
						</td>
						<td>
							<a href="#">Club's official Twitter account @ManUtd
							</a>
						</td>
						<td>
							<a href="#">United in history
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>